.list-overflow-container {
 
  border-radius: 4px;
  overflow-y: scroll;
  overflow-x: hidden;
  /* padding-left:50px;
  padding-right: 100px; */
  padding-bottom:50px;
}

.list-overflow-container ul {
 
  background-color: rgba(255, 255, 255, 0.5);
  width: 75%;
  display: block;
  margin-left: auto;
  margin-right:auto;
}

.list-overflow-container li {
  border-radius: 0px;
  border-left: none;
  border-right: none;
  list-style-type: none;
  font-family: 'Courier New', Courier, monospace;
  text-align: left;
  padding:15px;
  font-size: 20px;
}



.list-overflow-container li a {
  color: #2a878c;
  text-decoration: none;
  pointer-events: none;
}

.list-overflow-container li:first-child {
  border-top: none;
}

.list-overflow-container li:last-child {
  border-bottom: none;
}
